input {
  margin-left: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 25px;
  text-align: center;
  border-radius: 15px;
}
button {
  margin-left: 50px;
  margin-bottom: 50px;
  padding: 20px;
  font-size: 20px;
  background-color: rgb(218, 248, 97);
  border-radius: 15px;
}
.timer {
  display: flex;
  font-size: 25px;
  gap: 40px;
  margin-left: 35px;
}
span {
  display: flex;
  justify-content: space-around;
}
.field {
  background-color: rgb(170, 239, 170);
  padding: 10px 20px;
  border-radius: 15px;
  box-shadow: 10px 5px 5px rgb(134, 127, 127);
}
.value {
  font-size: 35px;
}
